<section class="post" *ngFor="let post of posts | paginate: { itemsPerPage: 5, currentPage: p }">
  <div class="container">
    <article>
      <h2 class="title-post">
        {{post.title}}
      </h2>
      <div class="infos row justify-content-md-center">
        <span>
          Destination Europe
        </span>
        <span class="author">
          Added by <b>John Williams Doe</b>
        </span>
        <span>
          January 01, 2018
        </span>
      </div>
      <figure class="post-image">
        <img src="assets/img/post-image.jpg">
      </figure>
      <div class="text">
        <p>{{post.body}}</p>
      </div>
      <a href="/post/{{post.id}}" class="read-more">
        Read More
      </a>
    </article>
  </div>
</section>
<section>
  <div class="container">
    <pagination-template #pT="paginationApi" (pageChange)="p = $event">
        <div class="pagination">
          <a *ngIf="!pT.isFirstPage()" (click)="pT.previous(); scrollTop()" class="pager left">previous</a>
          <a  *ngIf="!pT.isLastPage()" (click)="pT.next(); scrollTop()" class="pager right">next</a>
        </div>
    </pagination-template>
  </div>
</section>